<%- include("header") -%>
<h1 class="box" id="heading">This a Secret dont tell anyone</h1>
<p class="box">Bubbaasilbakfdlkhaf[o;gh  pewou goaehg ahg moaih gahrognaeogay[lfg</p>
<%- include("footer") -%>
