<%- include("header") -%>

    <div class="box" id="heading">
        <h1>Its a <%= listTitle%> </h1>
    </div>
    
    <!-- <h1>Why are you NOT working?</h1> -->

    <div class="box">
        
        
            <%   for(var i=0; i<newItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= newItems[i]%></p>
                </div>
                 
            <%   } %>
       
            <form class = "item" action="/" method="post">
        
                <input name= "todo" type="text" placeholder="New Item" autocomplete="off">
                <button type="submit" name ="button">+</button>
            </form>
    </div>

    <%- include("footer") -%>
