body {
  background-color: #eaf6f6;
}

hr {
  /* border-style: dotted none none none; */
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: thick;
}
h1, h3 {
  color: #66bfbf;
}
